[submodule "fhirbase"]
	path = fhirbase
	url = https://github.com/fhirbase/fhirbase.git
[submodule "fhirplace"]
	path = fhirplace
	url = https://github.com/fhirbase/fhirplace.git
[submodule "fhirface"]
	path = fhirface
	url = https://github.com/fhirbase/fhirface
[submodule "hostel"]
	path = hostel
	url = https://github.com/fhirbase/hostel.git
